torch
torchvision
roma
gradio
matplotlib
tqdm
opencv-python
scipy
einops
trimesh
tensorboard
pyglet<2
huggingface-hub[torch]>=0.22
wandb
evo 
prettytable
scikit-image
scikit-learn
h5py
gdown
boto3
viser
pyro-ppl
mediapy